{% extends "::base.html.twig" %}
{% block content %}
<h1>{{event.name}}</h1>
<h2>Price: {{event.price}} €</h2>
<p><a class="btn btn-success btn-large" href="{{path('_registration')}}">Register for the next Hackathon &raquo;</a>
    {{event.description|raw}}
<p><a class="btn btn-success btn-large" href="{{path('_registration')}}">Register for the next Hackathon &raquo;</a>
{% endblock %}